.book-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1350px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #333333;

    > p {
        flex-grow: 1;
        flex-basis: 0;
    }
}
.title{
    display: flex;
    font-family: "Work Sans";
    max-width: 1350px;
    margin: 20px auto;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    padding: 0 2rem;
    

    > h3 {
        flex-grow: 1;
        flex-basis: 0;
        
    }
}