.book-container{
    display: flex;
    padding: 15px 20px;
    justify-content: space-around;
    align-items: center;
}
.title{
    display: flex;
    font-family: "Work Sans";
    padding: 10px 20px;
    margin: 20px 0;
    justify-content: space-around;
    align-items: center;
}