.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin: auto;
  max-width: 1350px;

  .header {
    font-style: oblique;
    text-transform: uppercase;
    color: aqua;

    .health {
      text-transform: uppercase;
      color: black;
    }
  }
  .booklist {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: "Work Sans";
    white-space: nowrap;
    color:white;
    width: 150px;
    height: 35px;
    background-color:blue;
  }
  .character{
    width: 150px;
    height: 35px;
    margin-left: 45em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: "Work Sans";
    color:white;
    background-color:blue;
  }
}
