.container {
  .search-title {
    font-size: 30px;
    text-align: center;
    span {
      color: cyan;
      font-size: 30px;
    }
  }
  .input-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin: 3em auto;
    max-width: 1240px;
  }
  button.search-button {
    display: block;
    width: 12rem;
    height: 2rem;
    margin: 2em auto;
    background-color: rgb(46, 43, 43);
    color: #fff;
    font-family: "Work Sans";
    font-size: 18px;
  }
}
